// mobile nav menu
.nav-menu.--mobile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $red;
  transition: max-height 0.4s ease;
  max-height: 0;
  pointer-events: none;

  > .item {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease;
    position: relative;
    &:hover {
      background-color: lighten($red, 20%);
    }

    &:last-of-type {
      border-bottom: none;
    }

    .icon {
      width: 40px;
    }

    .link {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 2px;
      > a {
        color: $white;
      }
    }

    .arrow {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-self: flex-end;
    }
  }
}

// tablet desktop nav menu
.nav-menu.--large {
  width: 100%;
  height: 100%;
  max-height: unset;
  display: none;
  background-color: $white;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;

  .item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 20px;
    .link {
      padding-right: 12px;
      height: 100%;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      a {
        color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all 0.4s ease;
        border-bottom: 3px solid $white;
        padding-top: 3px;
        &:active, &:hover {
          border-bottom: 3px solid $red;
          padding-top: 3px;
        }
      }
    }
  }

}

.dropdown-menu {
  display: none;
}

.body-overlay {
  pointer-events: none;
  transition: opacity .4s ease;
  position: absolute;
  z-index: 1;
  background-color: $black;
  opacity: 0;
  width: 100%;
  height: 100%;
}

// Breakpoints Tablet =========================================================
@include tablet {
  .nav-menu.--mobile {
    display: none;
  }
  .nav-menu.--large {
    display: flex;
  }

  .dropdown-menu {
    display: flex;
    position: relative;

    .button {
      cursor: pointer;

      .burger {
        width: 25px;
      }
    }

    .dropdown {
      position: absolute;
      right: -10px;
      top: 30px;
      min-width: 200px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      background-color: $white;
      border-radius: 5px;
      transform: scale(0.9);
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease;
      &.--open {
        pointer-events: all;
        transform: scale(1);
        opacity: 1;
      }

      > .triangle {
        transform: rotate(180deg);
        position: absolute;
        top: -9px;
        right: 16px;
        width: 12px;
        height: 10px;
      }
      > .link {
        display: flex;
        padding: 0 10px;
        border-bottom: 1px solid $lightgrey;
        height: 40px;
        background-color: $white;
        width: 100%;
        &:hover {
          // background-color: lighten($white, 10%);
        }
        &:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-of-type {
          border-bottom: none;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        a {
          font-size: 14px;
          font-weight: bold;
          transition: all 0.4s ease;
          color: $red;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          &:hover {
            color: lighten($red, 20%);
          }
        }
        img {
          width: 12px;
          height: 11px;
        }
      }
    }
  }

  .body-overlay {
    display: none !important;
  }
}

// Breakpoints Desktop =========================================================
@include desktop {
  .nav-menu.--mobile {
    display: none;
  }
  .nav-menu.--large {
    width: 100%;
    max-width: calc(1200px - 120px);
    display: flex;
    .item {
      padding: 0 40px;
      .link {
        padding-right: 20px;
      }
    }
  }

  .dropdown-menu .button {
    display: none;
  }

  .body-overlay {
    display: none !important;
  }
}
