.navbar-header {
  height: 50px;

  font-size: 18px;
  background-color: $white;
  border: 1px solid $white;
  // padding-bottom: 10px;
  padding: 0 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    height: 100%;
  }

  #logo {
     height: 100%;
     width: auto;

    img {
       height: 100%;
    }
  }

  #navbar-toggle {
    position: absolute;
    transform: translateY(-50%);
    height: 21px;
    top: 50%;
    left: 10px;
    cursor: pointer;
  }

  // .nav-menu {
  //   display: none;
  //   list-style-type: none;
  //   flex-direction: column;
  //   margin: 0;
  //   padding: 0;
  //
  //   li {
  //   text-align: center;
  //   }
  // }
  //
  // .nav-menu-right {
  //   display: none;
  // }


}


// .logo-image {
//   width: 120px !important;
// }

.link {
    text-decoration: none;
    color: $red;
}

.link:hover {
  color: $grey;
}

#logo {
  font-size: 22px;
  color: $red;

  &:hover {
    color: $grey;
  }
}




// Breakpoints
@include tablet {
  // .navbar-header {
  //   justify-content: space-between;
  //
  //   #navbar-toggle {
  //     display: none;
  //   }
  //
  //   .logo {
  //
  //   }
  //
  //   .nav-menu {
  //     display: flex;
  //   }
  // }
}

@include desktop {
  // .navbar-header {
  //   display: flex;
  //   justify-content: space-between;
  //   padding-bottom: 0;
  //   height: 65px;
  //   align-items: center;
  // }
  // .navbar-header {
  //   #navbar-toggle {
  //     display: none;
  //   }
  //   a {
  //     font-weight: 800;
  //   }
  //   .nav-menu-right {
  //     list-style-type: none;
  //     display: flex;
  //     margin-right: 10px;
  //
  //     .item {
  //       flex-direction: row;
  //       margin-left: 40px;
  //     }
  //     .grey {
  //       color: $grey;
  //     }
  //   }
  // }
  // .nav-menu {
  //   display: flex !important;
  //   margin-right: 30px;
  //   flex-direction: row;
  //   justify-content: flex-end;
  // }
  // .nav-menu {
  //   li {
  //     margin: 0;
  //   }
  //   .link {
  //     margin-left: 50px;
  //   }
  //   #logo {
  //     margin-top: 0;
  //   }
  //   #navbar-toggle {
  //     display: none;
  //   }
  // }
}
