.ranking-table {
  padding: 10px;
  background-color: lightgrey;

  .partner-row {
    position: relative;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 3px 10px;
    background-color: white;
    mix-blend-mode: normal;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

    transition: all 0.4s ease;

    &.--toprank {
      > .underline {
        background-color: $red;
      }
    }

    > .divider {
      display: flex;
      position: relative;
      min-width: 1px;
      height: 80%;
      background-color: $lightgrey;
    }

    > .image {
      display: flex;
      align-items: center;
      // border: 1px solid gold;

      img {
        transition: all 0.4s;
        width: 50px;
        height: 50px;
        object-fit: contain;
      }

    }

    > .information {
      width: 100%;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .name {
        margin-bottom: 5px;
        color: $black;
        font-weight: bold;
        font-size: 26px;
      }

      .membercount {
        color: $darkgrey;
        font-size: 10px;
        // font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      // Tablet and Desktop styles
      .tag, .link {
        display: none;
      }

      .tag {
        font-size: 16px;
        color: $black;
        margin-bottom: 5px;
      }

      .link {
        color: $red;
        font-weight: bold;
        text-decoration: underline;
        text-transform: capitalize;
      }
    }

    > .score {
      width: 30%;
      // min-width: 75px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      padding: 0 5px;
      .number {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: $black;
      }
      .star-rating {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .star {
          margin: 0;
          width: 12px;
          height: 12px;
        }
      }
      .ratings {
        text-align: center;
        font-size: 10px;
        color: $darkgrey
      }
    }

    > .link {
      width: 30%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 0 0 5px;

      .arrow {
        margin-bottom: 5px;
      }
      .text {
        text-align: center;
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase;
        color: $red;
        text-decoration: underline;
      }
    }

    > .underline {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $white;
      border-radius: 0 0 5px 5px;
    }
  }
}

// Breakpoints
@include tablet {
  .ranking-table .partner-row {
    height: 120px;
    padding: 0 20px 5px 20px;


    > .image img {
      width: 90px;
      height: 90px;
    }

    > .information {

      .name {
        font-size: 28px;
      }

      .membercount {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .tag, .link {
        font-size: 14px;
        display: flex;
      }
    }

    .underline {
      height: 5px;
    }
  }
}

@include desktop {
  .ranking-table .partner-row {
    height: 180px;
  }
}
