<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Navigation 1</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../styles/css/main.css">

</head>
<body>

  <nav class="navbar-header">

    <span id="navbar-toggle">
      <img class="burger" src="../assets/icons/burger-icon.svg" alt="">
      <img class="triangle" src="../assets/icons/nav-triangle.svg" alt="">
    </span>

    <div class="logo">
      <a href="#" id="logo">
        <img src="../assets/logo/top5-logo.png" alt="Top 5 Dating Sites">
      </a>
    </div>

    <div class="nav-menu --large">

      <div class="item">
        <div class="link"><a href="#">Top 5</a></div>
        <div class="link"><a href="#">Senioren Dating</a></div>
        <div class="link"><a href="#">Gay Dating</a></div>
        <div class="link"><a href="#">Lesbian Dating</a></div>
        <div class="link"><a href="#">Vergleich</a></div>
        <div class="link"><a href="#">Artikel</a></div>
        <div class="link"><a href="#">Über uns</a></div>
        <div class="link"><a href="#">FAQ</a></div>
      </div>

    </div>

    <div class="dropdown-menu">
      <div class="button">
        <img class="burger" src="../assets/icons/burger-icon.svg" alt="">
      </div>
      <div class="dropdown">
        <img class="triangle" src="../assets/icons/nav-triangle.svg" alt="">

      </div>
    </div>

  </nav>


</body>
</html>
