<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Navigation 1</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../styles/css/main.css">

  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->

</head>
<body>

  <nav class="navbar-header">

    <span id="navbar-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="21" fill="none" viewBox="0 0 30 21">
          <path fill="#000" fill-opacity="0" d="M0 0h30v21H0z"/>
          <rect width="30" height="4" fill="#AF4034" rx="2"/>
          <rect width="30" height="4" y="9" fill="#AF4034" rx="2"/>
          <rect width="30" height="4" y="17" fill="#AF4034" rx="2"/>
      </svg>
      <!-- <i class="fas fa-bars"></i> -->
    </span>

    <a href="#" id="logo"><img src="../assets/logo/top5-logo.png" alt="Top 5 Dating Sites"></a>
    <ul id="nav-menu">
        <li class="item">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" fill="none" viewBox="0 0 20 23">
                <path fill="none" d="M0 0h20v23H0z"/>
                <path fill="#fff" d="M14 15h6v8h-6zM7 10h6v13H7zM0 13h6v10H0zM10 0l.898 2.764h2.906l-2.35 1.708.897 2.764L10 5.528 7.649 7.236l.898-2.764-2.351-1.708h2.906L10 0z"/>
            </svg>
          </div>
          <a href="#" class="link">Top 5</a>
        </li>


        <li class="left"><a href="#" class="nav-links">Senioren Dating</a></li>
        <li class="left"><a href="#" class="nav-links">Gay Dating</a></li>
        <li class="left"><a href="#" class="nav-links">Lesbian Dating</a></li>
        <li class="left"><a href="#" class="nav-links">Vergleich</a></li>
        <li class="left"><a href="#" class="nav-links">Artikel</a></li>
        <li class="right"><a href="#" class="nav-links">Über uns</a></li>
        <li class="right"><a href="#" class="nav-links">FAQ</a></li>
    </ul>
  </nav>

  <div class="ranking-table">
    <div class="partner-row --labels">
      <div class="image"><p class="label">Partner</p></div>
      <div class="information"><p class="label">info</p></div>
      <div class="rating"><p class="label">rating</p></div>
      <div class="score"><p class="label">score</p></div>
      <div class="link"><p class="label">link</p></div>
    </div>

    <div class="partner-row --toprank">
      <div class="image"><img src="../assets/partners/parship.png" alt="Parship Dating"></div>
      <div class="information">
        <p class="name">Parship</p>
        <p class="membercount">Mehr als 5 Millionen Mitglieder europaweit</p>
        <!-- Tablet & Desktop only -->
        <p class="tag">Interessante Singles, die es ernst meinen</p>
        <p class="link">read more</p>
      </div>

      <div class="divider"></div>

      <!-- Tablet & Desktop only -->
      <div class="rating">
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <div class="divider"></div>
      </div>

      <div class="score">
        <p class="number">9.8</p>
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
      </div>

      <div class="divider"></div>

      <div class="link">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
            <path fill="#AF4034" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
        </svg>
        <p class="text">seite besuchen</p>
      </div>

      <div class="underline"></div>
    </div>
  </div>

  <script src="../js/navbar-full.js"></script>

</body>
</html>
