<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ranking Table</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

  <link rel="stylesheet" href="../styles/css/main.css">
</head>
<body>

  <div class="hero-bg"></div>

  <div class="ranking-table">
    <div class="partner-row --labels">
      <div class="image"><p class="label">Partner</p></div>
      <div class="information"><p class="label">info</p></div>
      <div class="rating">
        <p class="label">rating</p>
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" fill="none" viewBox="0 0 6 10">
            <path fill="#fff" d="M3 0l3 3.712H0L3 0zM3 9.897L0 6.186h6L3 9.897z"/>
        </svg>
      </div>
      <div class="score">
        <p class="label">score</p>
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" fill="none" viewBox="0 0 6 10">
            <path fill="#fff" d="M3 0l3 3.712H0L3 0zM3 9.897L0 6.186h6L3 9.897z"/>
        </svg>
      </div>
      <div class="link"><p class="label">link</p></div>
    </div>

    <div class="partner-row --toprank">
      <!-- banner -->
      <div class="banner --show --green">
        <div class="block">
          <span class="text">most popular choice</span>
        </div>
        <div class="cap"></div>
        <div class="triangle --overlay"></div>
        <div class="triangle"></div>
      </div>

      <div class="image"><img src="../assets/partners/parship.png" alt="Parship Dating"></div>
      <div class="information">
        <p class="name">Parship</p>
        <p class="membercount">Mehr als 5 Millionen Mitglieder europaweit</p>
        <!-- Tablet & Desktop only -->
        <p class="tag">Interessante Singles, die es ernst meinen</p>
        <div class="info">
          <ul>
            <li>Die beliebteste Partnervermittlung der Schweiz und im deutschsprachigen Raum</li>
            <li>Wissenschaftlich basiertes Matching</li>
            <li>38 Prozent Erfolgsquote</li>
            <li>TÜV-geprüft</li>
          </ul>
        </div>

        <p class="link">read more</p>


      </div>

      <div class="divider"></div>

      <!-- Tablet & Desktop only -->
      <div class="rating">
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <div class="divider"></div>
      </div>

      <div class="score">
        <p class="number">9.8</p>
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <p class="link">Lies unsere Bewertung</p>
      </div>

      <div class="divider"></div>

      <div class="link">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
            <path fill="#AF4034" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
        </svg>
        <div class="text">
          seite besuchen
          <svg class="arrow" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.38904 7L0.826535 13.4952L0.826535 0.504809L7.38904 7Z" fill="white"/>
          </svg>
          <!-- <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
              <path fill="#FFF" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
          </svg> -->
        </div>
        <div class="name">Parship <span>»</span></div>
      </div>

      <div class="underline"></div>
    </div>

    <div class="partner-row">
      <!-- banner -->
      <div class="banner">
        <div class="block">
          <span class="text">most popular choice</span>
        </div>
        <div class="cap"></div>
        <div class="triangle --overlay"></div>
        <div class="triangle"></div>
      </div>

      <div class="image"><img src="../assets/partners/edarling.png" alt="eDarling Dating"></div>
      <div class="information">
        <p class="name">eDarling</p>
        <p class="membercount">Fast 15 Mio. Mitglieder europaweit</p>
        <!-- Tablet & Desktop only -->
        <p class="tag">Der Testsieger: beste Partnervermittlung im deutschsprachigen Raum (FOCUS 2014, 2015, 2016)</p>
        <div class="info">
          <ul>
            <li>Treffen Sie Singles im besten Alter aus der Schweiz10 Jahre Erfahrung - seriöser Anbieter für Dating</li>
            <li>10 Jahre Erfahrung - seriöser Anbieter für Dating</li>
            <li>Einzigartige Features für höchste Erfolgschancen</li>
            <li>Jetzt kostenlos Basis Mitglied werden!</li>
          </ul>
        </div>

        <p class="link">read more</p>


      </div>

      <div class="divider"></div>

      <!-- Tablet & Desktop only -->
      <div class="rating">
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <div class="divider"></div>
      </div>

      <div class="score">
        <p class="number">9.4</p>
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <p class="link">Lies unsere Bewertung</p>
      </div>

      <div class="divider"></div>

      <div class="link">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
            <path fill="#AF4034" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
        </svg>
        <div class="text">
          seite besuchen
          <svg class="arrow" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.38904 7L0.826535 13.4952L0.826535 0.504809L7.38904 7Z" fill="white"/>
          </svg>
          <!-- <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
              <path fill="#FFF" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
          </svg> -->
        </div>
        <div class="name">eDarling <span>»</span></div>
      </div>

      <div class="underline"></div>
    </div>

    <div class="partner-row">
      <!-- banner -->
      <div class="banner">
        <div class="block">
          <span class="text">most popular choice</span>
        </div>
        <div class="cap"></div>
        <div class="triangle --overlay"></div>
        <div class="triangle"></div>
      </div>

      <div class="image"><img src="../assets/partners/be2.png" alt="Be2 Dating"></div>
      <div class="information">
        <p class="name">Be2</p>
        <p class="membercount">30 Millionen Mitglieder weltweit</p>
        <!-- Tablet & Desktop only -->
        <p class="tag">Einfach und direkt den richtigen Partner finden!</p>
        <div class="info">
          <ul>
            <li>100% kostenlose Partnerempfehlungen</li>
            <li>Unkomplizierte Partnersuche</li>
            <li>Schnelle Anmeldung</li>
          </ul>
        </div>

        <p class="link">read more</p>


      </div>

      <div class="divider"></div>

      <!-- Tablet & Desktop only -->
      <div class="rating">
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <div class="divider"></div>
      </div>

      <div class="score">
        <p class="number">9.3</p>
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <p class="link">Lies unsere Bewertung</p>
      </div>

      <div class="divider"></div>

      <div class="link">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
            <path fill="#AF4034" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
        </svg>
        <div class="text">
          seite besuchen
          <svg class="arrow" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.38904 7L0.826535 13.4952L0.826535 0.504809L7.38904 7Z" fill="white"/>
          </svg>
          <!-- <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
              <path fill="#FFF" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
          </svg> -->
        </div>
        <div class="name">Be2 <span> »</span></div>
      </div>

      <div class="underline"></div>
    </div>

    <div class="partner-row">
      <!-- banner -->
      <div class="banner">
        <div class="block">
          <span class="text">most popular choice</span>
        </div>
        <div class="cap"></div>
        <div class="triangle --overlay"></div>
        <div class="triangle"></div>
      </div>

      <div class="image"><img src="../assets/partners/c-date.png" alt="C-date Dating"></div>
      <div class="information">
        <p class="name">C-date</p>
        <p class="membercount">Mehr als 53 Mio. Mitglieder in Europa</p>
        <!-- Tablet & Desktop only -->
        <p class="tag">Lebe die Lust auf Abenteuer und erotische Erlebnisse</p>
        <div class="info">
          <ul>
            <li>Höchste erfolgschancen bei Casual Dates</li>
            <li>100% Anonymität und Sicherheit</li>
            <li>„Mehr als nur ein Date“ versprochen</li>
          </ul>
        </div>

        <p class="link">read more</p>


      </div>

      <div class="divider"></div>

      <!-- Tablet & Desktop only -->
      <div class="rating">
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <div class="divider"></div>
      </div>

      <div class="score">
        <p class="number">8.7</p>
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <p class="link">Lies unsere Bewertung</p>
      </div>

      <div class="divider"></div>

      <div class="link">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
            <path fill="#AF4034" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
        </svg>
        <div class="text">
          seite besuchen
          <svg class="arrow" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.38904 7L0.826535 13.4952L0.826535 0.504809L7.38904 7Z" fill="white"/>
          </svg>
          <!-- <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
              <path fill="#FFF" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
          </svg> -->
        </div>
        <div class="name">C-date <span> »</span></div>
      </div>

      <div class="underline"></div>
    </div>

    <div class="partner-row">
      <!-- banner -->
      <div class="banner">
        <div class="block">
          <span class="text">most popular choice</span>
        </div>
        <div class="cap"></div>
        <div class="triangle --overlay"></div>
        <div class="triangle"></div>
      </div>

      <div class="image"><img src="../assets/partners/zoosk.png" alt="C-date Dating"></div>
      <div class="information">
        <p class="name">Zoosk</p>
        <p class="membercount">Mehr als 27 Mio. Singles weltweit</p>
        <!-- Tablet & Desktop only -->
        <p class="tag">Online Dating auf smarte Art</p>
        <div class="info">
          <ul>
            <li>Beste App für Android und iPhone</li>
            <li>Benutzerfreundlich</li>
            <li>Sehr hohe Erfolgschancen</li>
            <li>Text- und Video-Chat</li>
          </ul>
        </div>

        <p class="link">read more</p>


      </div>

      <div class="divider"></div>

      <!-- Tablet & Desktop only -->
      <div class="rating">
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <div class="divider"></div>
      </div>

      <div class="score">
        <p class="number">8.3</p>
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <p class="link">Lies unsere Bewertung</p>
      </div>

      <div class="divider"></div>

      <div class="link">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
            <path fill="#AF4034" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
        </svg>
        <div class="text">
          seite besuchen
          <svg class="arrow" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.38904 7L0.826535 13.4952L0.826535 0.504809L7.38904 7Z" fill="white"/>
          </svg>
          <!-- <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
              <path fill="#FFF" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
          </svg> -->
        </div>
        <div class="name">Zoosk <span> »</span></div>
      </div>

      <div class="underline"></div>
    </div>

    <div class="partner-row">
      <!-- banner -->
      <div class="banner --show">
        <div class="block">
          <span class="text">Singles Over 50</span>
        </div>
        <div class="cap"></div>
        <div class="triangle --overlay"></div>
        <div class="triangle"></div>
      </div>

      <div class="image"><img src="../assets/partners/singles50.png" alt="Singles 50 Dating"></div>
      <div class="information">
        <p class="name">Singles 50 long long title babay wo wooo</p>
        <p class="membercount">Über 2 Millionen Singles in Deutschland</p>
        <!-- Tablet & Desktop only -->
        <p class="tag">Die neue Datingseite für Singles über 50 !</p>
        <div class="info">
          <ul>
            <li>Gratis Registrierung</li>
            <li>Lokale Treffen</li>
          </ul>
        </div>

        <p class="link">read more</p>

      </div>

      <div class="divider"></div>

      <!-- Tablet & Desktop only -->
      <div class="rating">
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <div class="divider"></div>
      </div>

      <div class="score">
        <p class="number">8.3</p>
        <div class="star-rating">
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
          <svg class="star" xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="none" viewBox="0 0 9 9">
              <path fill="#F8CA00" d="M4.5 0l1.062 3.152H9L6.219 5.1 7.28 8.252 4.5 6.304 1.719 8.252 2.78 5.1 0 3.152h3.438L4.5 0z"/>
          </svg>
        </div>
        <p class="ratings">Bewerten (9545)</p>
        <p class="link">Lies unsere Bewertung</p>
      </div>

      <div class="divider"></div>

      <div class="link">
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
            <path fill="#AF4034" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
        </svg>
        <div class="text">
          seite besuchen
          <svg class="arrow" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.38904 7L0.826535 13.4952L0.826535 0.504809L7.38904 7Z" fill="white"/>
          </svg>
          <!-- <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="none" viewBox="0 0 16 14">
              <path fill="#FFF" fill-rule="evenodd" d="M8.881.278l6.05 6.05a.95.95 0 0 1 0 1.344l-6.05 6.05a.95.95 0 0 1-1.344-1.345l4.427-4.426H0V6.049h11.964L7.537 1.623A.95.95 0 0 1 8.881.278z" clip-rule="evenodd"/>
          </svg> -->
        </div>
        <div class="name">Singles 50<span> »</span></div>
      </div>

      <div class="underline"></div>
    </div>

  </div>

<script src="../scripts/main.js" charset="utf-8"></script>
</body>
</html>
