// Colours
$red: #af4034;
$white: #fff;
$black: #333333;
$grey: #8c8c8c;
$lightgrey: rgba(196, 196, 196, 0.3);

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
